<h1 class="title">ブックマーク一覧</h1>

<div class="container">
  <div class="row">

    <div class="col-3" style="text-align: center;">
      <!--ユーザー情報の部分テンプレート-->
      <%= render "public/customers/information", customer: @customer %>
    </div>

    <div class="col-9">
      <!--投稿情報の部分テンプレート-->
      <% if @bookmarks.present? %>
        <%= render "public/customers/collection", collection: @bookmarks %>
      <% else %>
       ブックマークした投稿はありません。
      <% end %>
    </div>
  </div>
</div>