<h1>マイページ</h1>

<!--部分テンプレート-->
  <%= render "public/customers/information", customer: @customer %>

  <%= link_to "いいね一覧", bookmark_customer_path(@customer) %>

<h3>投稿一覧</h3>

<!--投稿情報の部分テンプレート-->
<% if @shops.present? %>
  <%= render "public/customers/collection", collection: @shops %>
<% else %>
 まだ投稿していません。
<% end %>

