<h1 class="title">マイページ</h1>

<div class="container">
  <div class="row">

    <div class="col-3" style="text-align: center;">
      <!--部分テンプレート-->
      <%= render "public/customers/information", customer: @customer %>

      <%= link_to bookmark_customer_path(@customer) do %>
        <button type="button" class="btn btn-success btn-sm">ブックマーク一覧</button>
      <% end %>
    </div>

    <div class="col-9">
      <!--投稿情報の部分テンプレート-->
      <% if @shops.present? %>
        <%= render "public/customers/collection", collection: @shops %>
      <% else %>
       まだ投稿していません。
      <% end %>
    </div>

  </div>
</div>
