<h1 class="title">ユーザーページ</h1>

<div class="container">
  <div class="row">

    <div class="col-3">
      <!--ユーザー情報の部分テンプレート-->
        <%= render "public/customers/information", customer: @customer %>

        <%= link_to "いいね一覧", bookmark_others_customer_path(@customer) %>
    </div>

    <div class="col-9">
      <!--投稿情報の部分テンプレート-->
      <% if @shops.present? %>
        <%= render "public/customers/collection", collection: @shops %>
      <% else %>
       まだ投稿していません。
      <% end %>
    </div>

  </div>
</div>