<h1 class="title">Eggstandについて</h1>

<div class="container">
  <div class="row">

    <div class="col-xl-8 col-lg-8 col-10">
      <h2 class="sub-title">「いつもの朝をちょっと楽しみに」</h2>
        <p style="margin-top: 20px; margin-left: 30px; font-size: clamp(10px, 3vw, 15px);">
        このサイトは、みなさまの早起きを応援するサイトです。<br>
        普段の休日に身近でモーニングができるお店や、朝から勉強を頑張れるお店、<br>
        出張や旅行中の方は少し贅沢な朝ごはんができるお店など、みなさまの<br>
        お気に入りのモーニングをぜひ見つけてみてください。<br>
      　</p>
      <div style="margin: 40px 0 0 100px;">
      　<%= image_tag 'favorite.png', alt: 'about用画像', size: '250x300', class: "img-fluid" %>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-10">
      <div class="about">
        <ul>
          <li><%= image_tag 'egg.jpg', alt: 'about用画像', size: '280x200', class: "img-fluid" %></li>
          <li><%= image_tag 'bread.jpg', alt: 'about用画像', size: '280x200', class: "img-fluid" %></li>
          <li><%= image_tag 'about.jpg', alt: 'about用画像', size: '280x200', class: "img-fluid" %></li>
        </ul>
      </div>
    </div>

  </div>
</div>
