@import '~bootstrap/scss/bootstrap';

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand {
  display: inline-block;
  /*太字にする*/
  font-weight: bold;
  font-family: "Arial Black";
  text-decoration: none;
  color: #FFD428;
  font-size: 40px; }
  @media (min-width: 600px) {
    .brand {
      margin-bottom: 1rem;
} }
.site-header {
  position: relative;
  /*背景色黄色*/
  // background-color: #FFD428;
}

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    .site-header__wrapper {
      /*ヘッダーの配置を中央寄せにする*/
      text-align: center; } }
@media (min-width: 600px) {
  .nav__wrapper {
    /*リストを横並びにする*/
    display: inline-flex;
    /*リストの点を消す*/
    list-style-type: none;
  } }

// .nav {
//   display: inline-block;
// }

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0; } }

.nav__item a{
  display: block;
  font-family: 'ヒラギノ丸ゴ ProN';
  /*リストの上、左右、下の余白*/
  padding: 5px 20px 0px;
  /*リンクの下線を外す*/
  text-decoration: none;
  font-size: 13px;
  color: #C4C4C4;
  transform: scale(1);
}

.nav__item a:hover  {
  transform: scale(1.2);
}

// .nav__item a:visited {
//   color: #FF8D6A;
// }

.nav__toggle {
  display: none; }
  @media (max-width: 599px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem; } }

// ヘッダーのすぐ下にユーザー名
.login {
 text-align: right;
 margin-right: 30px;
}