@import '~bootstrap/scss/bootstrap';

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand {
  display: inline-block;
  text-decoration: none;
  /*太字にする*/
  font-weight: bold;
  font-family: "Arial Black";
  // ロゴカラー黄色
  color: #FFC14E;
  font-size: 40px;
}

.site-header {
  position: relative;
}

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: #EDF4F1;
}

.nav__wrapper {
    /*リストを横並びにする*/
    display: inline-flex;
    /*リストの点を消す*/
    list-style-type: none;
    // リストを中央寄せにする
    margin: 0 auto;
}

.nav__item a{
  display: block;
  font-family: 'ヒラギノ丸ゴ ProN';
  /*リストの上、左右、下の余白*/
  padding: 20px 20px 0px;
  /*リンクの下線を外す*/
  text-decoration: none;
  font-size: clamp(6px, 3vw, 13px);
  color: #6F6F6F;
  transform: scale(1);
}

.nav__item a:hover  {
  transform: scale(1.2);
}

.nav__toggle {
  display: none; }
  @media (max-width: 599px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem; } }

// ヘッダーのすぐ下にユーザー名
.login {
 text-align: right;
 margin-right: 30px;
}

.title {
  margin : 30px 0 30px 30px;
  font-family: "ヒラギノ丸ゴ ProN";
  font-weight: bold;
  font-size: clamp(20px, 3vw, 30px);
  padding: 1rem 2rem;
  display: inline-block;
  border-top: 3px dotted #FFD428;
  border-bottom: 3px dotted #FFD428;
}

@media screen and (max-width:576px) {
  .title {
    display: flex;
   	justify-content: center;
   	margin-right: 15px;
    margin-left: 15px;
  }
}

// アバウトページの画像
.about ul{
  // display: flex;
  margin: 0;
  padding: 0;
}
.about li{
  margin: 20px;
  padding: 0;
  // リストの点を消す
  list-style: none;
}

.sub-title {
  padding: 10px;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  border-left: solid 5px #FF5849;/*左線*/
  font-weight: bold;
  font-size: clamp(15px, 3vw, 20px);
  font-family: "ヒラギノ丸ゴ ProN";
}

html,body {
  height: 100%;
}
#wrapper {
  position: relative;
  min-height: 100%;
}
#container {
  padding-bottom: 5em;
}
#footer {
  position: absolute;
  bottom: 0;
  height: 70px;
  line-height: 70px;
  background-color: #EDF4F1;
  text-align: center;
  width: 100%;
  color: #6F6F6F;
}

.favorite {
  background-color: #FFF8EE;
  padding: 6px;/*文字周りの余白*/
  margin: 2px;
  border-radius: 0.5em;/*角丸*/
  text-align: center;
  text-decoration: none;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #6F6F6F;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>.page-link {
  background-color: #FFC14E;
  border-radius: 70% 60% 50% 50% / 50% 60% 70% 80%;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 70% 50% 70% 60% / 40% 80% 60% 70%;
  background-color: #EDF4F1;
  color: #6F6F6F;
}

// 登録時に入力必須の項目に※マークを付ける
.kome {
  color: red;
  font-size: 8px;
}

.row {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:576px) {
  .row {
    margin: 0 auto;
  }
}
